<div id="<%= dom_id team %>">
  <div class="mt-4 font-bold border-b border-gray-200 w-full pb-2">
    <%= team.name %>
  </div>

  <% if action_name != "show" %>
    <%= link_to "Show this team", team, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this team', edit_team_path(team), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
