<div id="<%= dom_id league %>">
    <div class="mt-4 font-bold border-b border-gray-200 w-full pb-2">
        <%= league.name %>
    </div>
    <div class="overflow-x-auto relative">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="py-3 px-2">
                        Equipes
                    </th>
                    <th scope="col" class="py-3 px-2">
                        Semaine 2
                    </th>
                    <th scope="col" class="py-3 px-2">
                        Semaine 3
                    </th>
                    <th scope="col" class="py-3 px-2">
                        Semaine 4
                    </th>
                    <th scope="col" class="py-3 px-2">
                        Semaine 5
                    </th>
                    <th scope="col" class="py-3 px-2">
                        Semaine 6
                    </th>
                    <th scope="col" class="py-3 px-2">
                        Semaine 7
                    </th>
                    <th scope="col" class="py-3 px-2">
                        Semaine 8
                    </th>
                    <th scope="col" class="py-3 px-2">
                        Semaine 9
                    </th>
                    <th scope="col" class="py-3 px-2">
                        Semaine 10
                    </th>
                    <th scope="col" class="py-3 px-2">
                        Semaine 11
                    </th>
                    <th scope="col" class="py-3 px-2">
                        Semaine 12
                    </th>
                    <th scope="col" class="py-3 px-2">
                        Semaine 13
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="py-4 px-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Team 1
                    </th>
                    <td class="py-4 px-2">
                        0
                    </td>
                    <td class="py-4 px-2">
                        3
                    </td>
                    <td class="py-4 px-2">
                        3
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="py-4 px-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Team 2
                    </th>
                    <td class="py-4 px-2">
                        0
                    </td>
                    <td class="py-4 px-2">
                        3
                    </td>
                    <td class="py-4 px-2">
                        3
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="py-4 px-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Team 3
                    </th>
                    <td class="py-4 px-2">
                        0
                    </td>
                    <td class="py-4 px-2">
                        5
                    </td>
                    <td class="py-4 px-2">
                        7
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
