    <div class="bg-white px-2 sm:px-4 py-6 dark:bg-gray-900 w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600">    
        <div class="flex justify-between items-center mx-auto">
            <h1 class="place-self-center font-bold text-3xl">FANTASY TOP CHEF</h1>
            <div class="flex items-center">
            <% if user_signed_in?%>
                <%= link_to edit_user_registration_path, class:"text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" do %>
                    <span>
                        Profil
                    </span>
                <% end %>
                <div class="mr-6">
                    <%=link_to "Se déconnecter", destroy_user_session_path, data: { turbo_method: :delete }, class:"focus:outline-none bg-amber-400 hover:bg-amber-500 focus:ring-2 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900"%>
                </div>
            <%else%>
                <div class="mr-6">
                    <%=link_to "Se connecter", "/users/sign_in", class:"focus:outline-none bg-amber-400 hover:bg-amber-500 focus:ring-2 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900"%>
                </div>
            <%end%>
            </div>
        </div>
    </div>