<%= render "partials/navbar" %>
<div class="bg-[url('background.jpg')] h-full bg-cover bg-center flex justify-center items-center ">
  <div class="w-2/5 h-2/5 bg-black opacity-75">
    <p class="text-white">Lorem ipsum</p>
  </div>
</div>
