<%= render "partials/navbar" %>
<div class="container mx-auto">
  <h1>Sélection des candidats</h1>
  <p>Chaque joueur choisit, chacun son tour, un candidat pour rejoindre sa brigade. Chaque brigade peut contenir un maximum de quatre candidats.</p>
  <p>Les candidats non sélectionnés restent en réserve et pourront être choisis lorsque le candidat d'une brigade est éliminé du concours.</p>
  <h2>Points</h2>
  <p>Chaque semaine, les candidats gagnent des points selon leur performance dans Top Chef. Voici les points qu'ils peuvent gagner :</p>
  <ul>
    <li>Plat coup de coeur: 7 points</li>
    <li>Victoire finale: 10 points</li>
    <li>Finaliste: 7 points</li>
    <li>Qualification pour la semaine suivante: 2 points</li>
    <li>Vainqueur épreuve (équipe ou individuel): 5 points</li>
    <li>Vainqueur dernière chance: 3 points</li>
  </ul>
</div>